@charset "utf-8";
body {
  width: 400px;
  height: 450px;
  margin: 0;
}
*{
box-sizing: border-box;
}
.red{
  width: 400px;
  height: 100px;
  background: #ff0000;
  position:relative;

}

.white-box{
  display: flex;
  width: 160px;
  height: 60px;
  background: #ffffff;
  position:absolute;
  top:20px;
  left:220px;
  padding: 5px;
}

.purple{
  width: 40px;
  height: 40px;
  background: #a9004b;
  margin: auto;
}


.clearfix::after{
  content: "";
  display: block;
  clear: both;
  }

.green {
  width: 150px;
  height: 250px;
  background: #00ff51;
  float: left;
}

.brown{
  width: 250px;
  height: 250px;
  background: #8c2727;
  float: right;

}
.yellow{
  width: 400px;
  height: 100px;
  background: #ffd600;
}
