@charset "utf-8";
body {
  width: 400px;
  height: 450px;
  margin: 0;
}
.flex {
  display: flex;
}
.red{
  width: 400px;
  height: 100px;
  margin: 0px;
  background: #ff0000;
}
.clearfix::after{
content: "";
display: block;
clear: both;
}
.green {
  width: 150px;
  height: 250px;
  background: #00ff1e;
  float: left;
}
.yellow{
  width: 400px;
  height: 100px;
  background: #ffe600;
}
.blue{
  width: 250px;
  height: 250px;
  background: #3300ff;
  float:right ;
}
